# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/
env/

# Data & models
data/mtsamples/
*.csv
*.parquet
models/
*.pt
*.bin

# IDE
.vscode/
.idea/
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Notebooks
.ipynb_checkpoints/
